<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulaire d'inscription</h1>
    <form action="/recup_donnees_user" method="post">
        <p>
            <label for="nom">Votre nom d'utilisateur</label>
            <input type="text" id="username" name="username"/>
        </p>
        <p>
            <label for="prenom">Mot de passe :</label>
            <input type="password" id="password" name="password"/>
        </p>
        <p>
            <input type="submit" value="Envoyer"/>
        </p>
    </form>
</body>
</html>
